<div class="products-container">
  <h1>Products</h1>

  <button
    mat-button
    style="
      width: 10rem;
      background-color: blueviolet;
      color: white;
      margin-top: 1rem;
    "
    (click)="toggleAddModal()"
  >
    Add Product
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="expiration_date">
      <th mat-header-cell *matHeaderCellDef>Expiration Date</th>
      <td mat-cell *matCellDef="let element">{{ element.expirationDate }}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef>Active</th>
      <td mat-cell *matCellDef="let element">
        {{ element.active ? "Active" : "InActive" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          style="
            width: 5rem;
            background-color: rgb(228, 110, 13);
            color: white;
            margin-top: 1rem;
          "
          (click)="toggleAddModal(element)"
        >
          edit
        </button>
        <button
          mat-button
          style="
            margin-left: 0.4rem;
            width: 5rem;
            background-color: blueviolet;
            color: white;
            margin-top: 1rem;
          "
        >
          delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    #paginator
    [length]="length"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    aria-label="select page"
  >
  </mat-paginator>
</div>
<app-add-product-modal
  [product]="selectedProduct"
  [isModalOpen]="isAddModalOpen"
  (closeModal)="closeAddModal($event)"
  (outputData)="addProduct($event)"
></app-add-product-modal>
<!-- <app-edit-product-modal
  [productData]="editProductData"
  (saveChanges)="editProduct($event)"
  (closeModal)="closeEditModal($event)"
  (updateProductId)="updateProductId($event)"
></app-edit-product-modal> -->
