<div class="modal-background">
  <div class="product-container">
    <button class="close-button" (click)="close()">&#10006;</button>
    <h1>Product</h1>
    <form [formGroup]="productForm" (ngSubmit)="handleFinish()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required />
        <div class="error-text" *ngIf="showNameRequiredError">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <label for="active">Active:</label>
        <input type="checkbox" id="active" formControlName="active" />
      </div>

      <div class="form-group">
        <label for="expirationDate">Expiration Date:</label>
        <input
          type="date"
          id="expirationDate"
          formControlName="expirationDate"
          required
        />
        <div class="error-text" *ngIf="isExpirationInvalid">
          Invalid expiration date.
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <select id="type" formControlName="type">
          <option value="tablet">Tablet</option>
          <option value="laptop">Laptop</option>
          <option value="handphone">Handphone</option>
        </select>
      </div>

      <div class="form-group">
        <label for="features">Features:</label>
        <div formArrayName="features">
          <div
            *ngFor="let feature of basicFeatures.controls; let i = index"
            [formGroupName]="i"
          >
            <input type="text" formControlName="name" />
            <button type="button" (click)="removeFeature(i)">Remove</button>
          </div>
          <button type="button" (click)="addFeature()">Add Feature</button>
        </div>
      </div>
      <button *ngIf="isEditMode" (click)="close()">Close</button>
      <button *ngIf="isEditMode" (click)="editProduct()">update</button>
      <button *ngIf="!isEditMode" type="submit">Finish</button>
    </form>
  </div>
</div>
